# Editor lock files
*.LCK*
*~

# Log files
*.log

# H2 database files
*.mv.db
*.trace.db
*.lock.db
*.temp.db

# Temporary files
temp/

# Java build output
bin/
target/
*.class

# VS Code Java
.classpath
.project
.settings/
